body {
    background-color: rgb(159, 226, 204);
    color: black;
}

.container {
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    padding-top: 0px;
    margin: auto;
}

.h51 {
    padding-top: 0px;
    text-align: center;
    margin-top: 20px;
}

h1 {
    text-align: center;
}

.form {
    /* position: relative;
    margin-left :510px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.h52 {
    display: inline-block;
    margin-left: 150px;

}

select {
    margin-left: 15px;

}

.freecode {
    margin-left: 330px;
}

.how {
    margin-left: 205px;
    display: inline;

}

.radio {
    display: inline;
    margin-left: 20px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    /* margin */
}

.notsure {
    margin-left: 575px;
}

.maybe {
    margin-left: 575px;
}

.option {
    position: absolute;
}

.fcc {
    margin-left: 250px;
    display: inline;
}

.ffsec {
    margin-left: 60px;
}

select {
    margin-left: 30px;
}

.things {
    margin-left: 190px;

}

.chh {
    margin-left: 350px;
}

.form-group {
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    justify-content: center;

}

.label {
    display: flex;
    /* min-width: 100px; */
    justify-content: end;

}

.side {
    width: 100%;
}