*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.nevdiv{
    border-bottom: 2px solid rgba(138, 138, 138, 0.548);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
h4 a{
    color: rgb(0, 0, 97);
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}
h4 a:hover{
    
    background-color: rgba(255, 211, 211, 0.568);
    font-size: 22px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
}
li{
    list-style: none;
    margin-right: 1px;
    font-weight: bolder;
}
li a{
    color: rgb(0, 0, 0);
    font-size: 10px;
    padding: 20px;
    padding-bottom: 21px;
    padding-top: 25px;
    transition: background-color;
    transition-duration: 0.9s;
    transition-delay: 0s;
}
li a:hover{
    background-color: #d30a0a9f;
    color: white;
}
ul button {
    margin-left: 20px;
    color: black;
    background-color: rgb(255, 38, 85);
    font-size: 20px;
    border-radius: 40px;
    width: 180px;
    border-style: none;
}
ul button a{
    color: white;
     transition: all;
     transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}
ul button a:hover{
    color: rgba(0, 0, 0, 0.863);
}
.outermain{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.main{
    height: 550px;
    width: 700px;
    display: flex;
    justify-content:center;
    flex-direction: row;
}
.heading h1{
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
    height: 150px;
    margin-top: 60px;
    margin-left: 60px;
    font-size: xxx-large;
}
.pra p{
    margin-left: 65px;
    margin-top: 80px;
    width: 480px;
}
.btn{
    background-color: rgb(255, 38, 85);
    border-style: none;
    border-radius: 20px;
    height: 45px;
     width: 300px;
     margin-left: 75px;
     margin-top: 20px;
}
.btn a{
    color: white;
    font-weight: bold;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}
.btn a:hover{
    color: black;
    font-weight: bolder;
    
}
.mainimg{
     height: 550px;
     width: 600px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.image{
    box-sizing: border-box;
    background-color: green;
    background-image: url(meet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
    box-shadow: 5px 5px 5px 5px rgba(158, 160, 159, 0.993);
    border-radius: 10px;
}
    

    
